body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}


.pink-square {
  background-color: hotpink;
  padding: 20px;
  
}

form {
  text-align: center;
}

label {
  display: block;
  text-align: left;
}

input[type="text"],
textarea {
  width: 80%;
  margin: 0 auto;
}
 