body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  
}

.pink-square {
  background-color: lightseagreen;
  padding: 10px;
  position: absolute;
  top: 50%;
  right: 70%;
  transform: translate(0%, 50%);
  
}

.eth {
  width: 100%;
  height: auto;

}

.container2 {
    text-align: right;

}

form {
  text-align: right;
}

label {
  display: block;
  text-align: right;
  justify-content: space-between;
  align-self: flex-start;
}

content[type="text"],
textarea {
  width: 60%;
  margin: 0 auto;
  color: black;
}
 