body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}

.dark-mode {
  width: 50px;
  height: 20px;
  position: relative;
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}

.dark-mode:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  right: 2px;
  background: linear-gradient(180deg, pink, hotpink);
  border-radius: 8px;
  transition: 0.3s;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.dark {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark:checked + .dark-mode {
  background: black;
}
.dark:checked + .dark-mode:after{
  right: 22px;
  transform: translateX(-10px);
  background: linear-gradient(180deg,blue, pink);
}
.dark-mode:active:after{
  width: 260px;
}
.background{
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.dark:checked + .dark-mode + .background {
  background: #242424;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}

.pink-square {
  padding: 30px;
  position: absolute;
  top: 50%;
  right: 70%;
  transform: translate(0, 50%);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  
}

.eth {
  height: 200%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  top: 200%;

}

.container2 {
    text-align: right;
    position: relative;
    color: black;
    top: 200px;
    
    
    
}

form {
  text-align: right;
}

label {
  display: block;
  text-align: right;
  justify-content: space-between;
  align-self: flex-start;
}

.dark[type="text"],
textarea {
  width: 60%;
  margin: 0 auto;
  color: black;
}
 